@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right,#1ABFD9,#11F0D1);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1059E6;
}
h1{
    color: #10E68B;
    text-align: center;
    text-shadow: 1px 1px 2px #0c975bc2;
}
h2{
    color: #1059E6;
}
p{
    text-align: justify;
}